<div class="container">

  <h1>
    Student Registration
  </h1>

  <label>
    Name
  </label>

  <input type="text" [(ngModel)]="name" placeholder="Enter your name">

  <label>
    Email
  </label>

  <input type="email" [(ngModel)]="email" placeholder="Enter your email">

  <label>
    Department
  </label>

  <input type="text" [(ngModel)]="department" placeholder="Enter your department">

  <label>
    Phone
  </label>

  <input type="text" [(ngModel)]="phone" placeholder="Enter your phone">



  <button (click)="submitForm()">
    Submit
  </button>

</div>